# Track all files in packages/ with LFS by default
package/**/* filter=lfs diff=lfs merge=lfs -text

# Exclude shell scripts and text files from LFS
package/**/*.sh -filter -diff -merge text
package/**/*.txt -filter -diff -merge text